
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:greenyellow;align-content:center;margin-top:50px">Congrations! Your Order is being Processing.</h2>

