@{
    ViewBag.Title = "Super Damp Home Page";
}

<div class="jumbotron text-center">
    <h1 class="display-3" style="font-family: 'Orelega One', cursive; color: #f29672;">Super Damp &copy;</h1>
    <p class="lead" style="font-family: 'Raleway', sans-serif; color: #f29672;">"You gotta have style. It helps you get down the stairs. It helps you get up in the morning. It’s a way of life. Without it, you’re nobody. I’m not talking about lots of clothes.”</p>
    <p><a onclick="location.href = '@Url.Action("Index","Product")'" class="btn btn-danger btn-lg">Check out our products!</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1445205170230-053b83016050?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8Y2xvdGhpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </div>
    <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1523381210434-271e8be1f52b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8M3x8Y2xvdGhpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </div>    
</div>
<div class="row" style="margin-top:50px;">
    <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1544441893-675973e31985?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8Y2xvdGhpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </div>
    <div class="col-md-6">
        <img src="https://images.unsplash.com/photo-1543087903-1ac2ec7aa8c5?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2xvdGhpbmd8ZW58MHx8MHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Meet Our Celebrity !</h2>
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/celebrities-with-great-personal-style-1529067614.jpg?crop=1.00xw:1.00xh;0,0&resize=980:*" />
        </div>
    </div>
</div>

